
[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/TaskNet
ExecStartPre=/bin/bash -c 'ls -ld /home/ubuntu/TaskNet'
ExecStartPre=/bin/bash -c 'sudo chown www-data:www-data /home/ubuntu/TaskNet'
ExecStartPre=/bin/bash -c 'sudo chmod 775 /home/ubuntu/TaskNet'
ExecStartPre=/bin/bash -c 'sudo chown www-data:www-data /home/ubuntu/TaskNet/db.sqlite3'
ExecStartPre=/bin/bash -c 'sudo chmod 664 /home/ubuntu/TaskNet/db.sqlite3'
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/TaskNet/TaskNet/TaskNet.sock TaskNet.wsgi:application

[Install]
WantedBy=multi-user.target